
@{
    ViewData["Title"] = "ThankYou";
}

<h1 class="text-center m-5 p-5">Thank You For Using Our Services !!!</h1>

<hr />
<div class="row d-flex justify-content-around m-3 p-3">

    <form asp-controller="Home" asp-action="Index" method="post">
        <input class="btn btn-lg btn-primary" type="submit" value="Shop More" />
    </form>

</div>